    /* Footer global */
    
    footer{
        background-color: $color-home;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    