    /* Navegacion principal */

    nav{ 
        font-size: medium;
        font-weight: 750;
        font-variant: small-caps;
        
        ul{
            list-style-type: none;
        }
    }