// Variables
$color-home: rgba(255, 255, 255, 0.400);
$color-vel: rgb(135, 27, 235);
$color-pcs: rgba(255, 127, 80, 0.753);
$color-fde: rgba(0, 255, 255, 0.582);
$color-inf: rgba(235, 12, 57, 0.651);

$border: 5px double;